<div class="header-minheight"></div>
<div class="fixed inset-x-0 z-100">
  <div
    id="menu-blur"
    class="absolute opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl shadow-2xl bg-neutral/25 dark:bg-neutral-800/25"
  ></div>
  <div class="relative leading-7 px-6">{{ partial "header/basic.html" . }}</div>
</div>
{{ $backgroundBlur := resources.Get "js/background-blur.js" }} {{
$backgroundBlur = $backgroundBlur | resources.Minify | resources.Fingerprint
(.Site.Params.fingerprintAlgorithm | default "sha512") }}
<script
  type="text/javascript"
  src="{{ $backgroundBlur.RelPermalink }}"
  integrity="{{ $backgroundBlur.Data.Integrity }}"
  data-blur-id="menu-blur"
></script>
