# Hugo
site/public/
site/.hugo_build.lock
site/resources/_gen/

# PocketBase
pb_data/*.db
pb_data/*.db-shm
pb_data/*.db-wal
pb_data/storage/
pb_data/logs/
pb_data/backups/

# Backups (root level)
backups/

# OS
.DS_Store

.env
