---
<div class="mt-8 text-sm text-gray-600 dark:text-gray-400">
  Orlando Youth Alliance is a 501(c)(3) nonprofit organization so all donations are tax deductible to the extent allowed by law. Our major expenses are rental fees for venue space, website services, printing, postage, insurance and supplies for this all volunteer organization. Revenue is generated through special events, corporate sponsorships, foundations and general public contributors.
  <br><br>
  A COPY OF THE OFFICIAL REGISTRATION OF ORLANDO YOUTH ALLIANCE, INC. (#CH25270) AND FINANCIAL INFORMATION MAY BE OBTAINED FROM <a href="https://www.fdacs.gov/Divisions-Offices/Consumer-Services">THE DIVISION OF CONSUMER SERVICES</a> OR BY CALLING TOLL-FREE 1-800-435-7352 WITHIN THE STATE. REGISTRATION DOES NOT IMPLY ENDORSEMENT, APPROVAL, OR RECOMMENDATION BY THE STATE.
</div>
